TIC_KEYRUS/services/Notification_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Notification"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="NotificationOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NotificationOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Ack" type="xsd:boolean"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="NotificationOperationRequest">
		<wsdl:part name="parameters" element="tns:NotificationOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NotificationOperationResponse">
		<wsdl:part name="parameters" element="tns:NotificationOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="NotificationPortType">
		<wsdl:operation name="NotificationOperation">
			<wsdl:input message="tns:NotificationOperationRequest"></wsdl:input>
			<wsdl:output message="tns:NotificationOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="NotificationBinding" type="tns:NotificationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NotificationOperation">
			<soap:operation soapAction="http://www.talend.org/service/NotificationOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Notification">
		<wsdl:port name="NotificationPort" binding="tns:NotificationBinding">
			<soap:address location="http://localhost:8090/services/Notification" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>