TIC_KEYRUS/services/Pays_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Pays"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="PaysOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Pays" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PaysOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Pays" type="xsd:string"></xsd:element>
						<xsd:element name="ISO3" type="xsd:string">
						</xsd:element>
						<xsd:element name="ISO2" type="xsd:string">
						</xsd:element>
						<xsd:element
							name="Nom_ISO_du_pays_ou_territoire" type="xsd:string">
						</xsd:element>
						<xsd:element name="Nom_francais"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="PaysOperationRequest">
		<wsdl:part name="parameters" element="tns:PaysOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PaysOperationResponse">
		<wsdl:part name="parameters" element="tns:PaysOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="PaysPortType">
		<wsdl:operation name="PaysOperation">
			<wsdl:input message="tns:PaysOperationRequest"></wsdl:input>
			<wsdl:output message="tns:PaysOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PaysBinding" type="tns:PaysPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PaysOperation">
			<soap:operation soapAction="http://www.talend.org/service/PaysOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Pays">
		<wsdl:port name="PaysPort" binding="tns:PaysBinding">
			<soap:address location="http://localhost:8090/services/Pays" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>