TIC_KEYRUS/services/Phone_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Phone"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="PhoneOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="Pays"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="Phone" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PhoneOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string"></xsd:element>
						<xsd:element name="tel_out" type="xsd:string">
						</xsd:element>
						<xsd:element name="Pays"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="PhoneOperationRequest">
		<wsdl:part name="parameters" element="tns:PhoneOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PhoneOperationResponse">
		<wsdl:part name="parameters" element="tns:PhoneOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="PhonePortType">
		<wsdl:operation name="PhoneOperation">
			<wsdl:input message="tns:PhoneOperationRequest"></wsdl:input>
			<wsdl:output message="tns:PhoneOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PhoneBinding" type="tns:PhonePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PhoneOperation">
			<soap:operation soapAction="http://www.talend.org/service/PhoneOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Phone">
		<wsdl:port name="PhonePort" binding="tns:PhoneBinding">
			<soap:address location="http://localhost:8090/services/Phone" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>