TIC_KEYRUS/services/Phone_Crazy_Matching_1.2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Phone_Crazy_Matching"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="Phone_Crazy_MatchingOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Id" type="xsd:string"></xsd:element>
						<xsd:element name="Pays" type="xsd:string">
						</xsd:element>
						<xsd:element name="Phone"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Phone_Crazy_MatchingOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:string"></xsd:element>
						<xsd:element name="tel_out" type="xsd:string">
						</xsd:element>
						<xsd:element name="Pays"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="Phone_Crazy_MatchingOperationRequest">
		<wsdl:part name="parameters" element="tns:Phone_Crazy_MatchingOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Phone_Crazy_MatchingOperationResponse">
		<wsdl:part name="parameters" element="tns:Phone_Crazy_MatchingOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="Phone_Crazy_MatchingPortType">
		<wsdl:operation name="Phone_Crazy_MatchingOperation">
			<wsdl:input message="tns:Phone_Crazy_MatchingOperationRequest"></wsdl:input>
			<wsdl:output message="tns:Phone_Crazy_MatchingOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="Phone_Crazy_MatchingBinding" type="tns:Phone_Crazy_MatchingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Phone_Crazy_MatchingOperation">
			<soap:operation soapAction="http://www.talend.org/service/Phone_Crazy_MatchingOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Phone_Crazy_Matching">
		<wsdl:port name="Phone_Crazy_MatchingPort" binding="tns:Phone_Crazy_MatchingBinding">
			<soap:address location="http://localhost:8090/services/Phone_Crazy_Matching" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>