TIC_KEYRUS/services/Produit_0.4.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Produit"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="ProduitOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Code_produit" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ProduitOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Code_produit"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="Nom_produit"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="Famille_produit"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ProduitOperationRequest">
		<wsdl:part name="parameters" element="tns:ProduitOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ProduitOperationResponse">
		<wsdl:part name="parameters" element="tns:ProduitOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="ProduitPortType">
		<wsdl:operation name="ProduitOperation">
			<wsdl:input message="tns:ProduitOperationRequest"></wsdl:input>
			<wsdl:output message="tns:ProduitOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ProduitBinding" type="tns:ProduitPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ProduitOperation">
			<soap:operation soapAction="http://www.talend.org/service/ProduitOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="Produit">
		<wsdl:port name="ProduitPort" binding="tns:ProduitBinding">
			<soap:address location="http://localhost:8090/services/Produit" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>