TIC_KEYRUS/services/SFDC_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SFDC"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="SFDCOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SFDCOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="SFDCOperationRequest">
		<wsdl:part name="parameters" element="tns:SFDCOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SFDCOperationResponse">
		<wsdl:part name="parameters" element="tns:SFDCOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="SFDCPortType">
		<wsdl:operation name="SFDCOperation">
			<wsdl:input message="tns:SFDCOperationRequest"></wsdl:input>
			<wsdl:output message="tns:SFDCOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SFDCBinding" type="tns:SFDCPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SFDCOperation">
			<soap:operation soapAction="http://www.talend.org/service/SFDCOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SFDC">
		<wsdl:port name="SFDCPort" binding="tns:SFDCBinding">
			<soap:address location="http://localhost:8090/services/SFDC" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>